.main       
  .main-head
    .main-head__group
      %p.main-head__group--name test-group1
      %p.main-head__group--member Member：Katou Sawa Oshima
    =link_to "#", class: "main-head__edit-btn" do
      Edit
  .main-content
    .main-content__group
      %p.main-content__group--member Katou
      %p.main-content__group--date 2019/06/18(Tue) 22:34
    %p.main-content__text こんばんは！
    .main-content__group
      %p.main-content__group--member Sawa
      %p.main-content__group--date 2019/06/18(Tue) 22:35
    %p.main-content__text こんばんは！
    .main-content__group
      %p.main-content__group--member Oshima
      %span<>
      %p.main-content__group--date 2019/06/18(Tue) 22:36
    %p.main-content__text こんばんは！

  .message
    %form.form
      .form__box
        %input.form__box__message{placeholder: "type a message", type: "text", name: "text" }
        %label.form__box__photo{for: "upload-icon"}
          = fa_icon "image", class: "form__box__photo--image"
          %input.form__box__photo--file{type: "file", name: "image", id: "upload-icon"}
      %input.form__submit{type: "submit", value: "Send"}