-# .main       
-#   .main-head
-#     .main-head__group
-#       %p.main-head__group--name test-group1
-#       %p.main-head__group--member Member：Katou Sawa Oshima
-#     =link_to "/groups/3/edit", class: "main-head__edit-btn" do
-#       Edit
-#   .main-content
.main-content__group
  %p.main-content__group--member
    = message.user.name
  %p.main-content__group--date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
%p.main-content__text
  - if message.content.present?
    = message.content
  = image_tag message.image.url, class: 'main-content__image' if message.image.present?
