!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title 仮ページだお
  
  %body
    %div.alert
      グループを作成しました
    %div.side-bar
      %div.side-head
        test-user
      %div.side-content
        %div.side-content__group
          %p.side-content__group--name
            test-name1
          %p.side-content__group--message
            test-message1
        %div.side-content__group
          %p.side-content__group--name
            test-name2
          %p.side-content__group--message
            test-message2
        %div.side-content__group
          %p.side-content__group--name
            test-name3
          %p.side-content__group--message
            test-message3