.main-content__group
  %p.main-content__group--member
    = message.user.name
  %p.main-content__group--date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
.main-content__message
  %p.main-content__message__content
    - if message.content.present?
      = message.content
  = image_tag message.image.url, class: 'main-content____message__image' if message.image.present?
